/* Navbar.css */

.container-nav {
  background-color: #f8f8f8;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  margin-right: 10px;
}

li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a.active {
  font-weight: bold;
}

/* Line separator */
ul li:not(:last-child)::after {
  content: "|";
  margin: 0 10px;
  color: #000;
}
