
.container {
  display: flex;
  height: 100vh;
}

.calculator-container {
  width: 100%;
  display: flex;
  align-self: center;
}

.calculator {
  width: 70%;
  height: 100vh;
  padding: 2rem;
}

.screen {
  width: 98%;
  text-align: end;
  padding: 14px 0;
  background-color: grey;
}

.screen-text {
  color: #fff;
  margin: 0;
  padding-right: 10px;
}

.number {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.number button {
  width: 33.33%;
  padding: 15px 0;
  background-color: lightgray;
  border: 0.1px solid grey;
}

.num-opp {
  width: 100%;
  display: flex;
}

.operators {
  width: 23%;
  display: flex;
  flex-wrap: wrap;
}

.operators button {
  width: 100%;
  background-color: rgb(248, 95, 39);
  border: 0.1px solid grey;
}

.other-opp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.other-opp button {
  width: 33.33%;
  border: 0.5px solid lightgray;
}

.zero {
  width: 100%;
  display: flex;
}

.zero button:nth-child(1) {
  width: 67%;
}

.zero button:nth-child(2) {
  width: 33.33%;
}

.quote-container {
  background-color: rgb(197, 194, 197);
}

.quote {
  display: flex;
  margin-top: 15%;
  align-self: center;
  font-weight: 400;
  width: 100%;
  padding: 2rem 2rem 2rem 2rem;
  font-size: 2rem;
}

.loading {
  color: red;
  font-size: 3rem;
}
